button.button {
  padding-block: 0.65rem;
  font-size: 0.95rem;
  cursor: pointer;
  background-color: #0073ff;
  color: white;
  font-weight: 500;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
