.logo{
    display: flex;
    width: fit-content;
    align-items: center;
    gap: .4rem;

    .icon{
        background-color: var(--color-primary);
        padding: .2rem;
        border-radius: .2rem;
    }
    p{
        font-size: 1.2rem;
        font-weight: 700;
    }
}