.tag {
  white-space: nowrap;
  border: 1.2px solid var(--color-primary);
  padding: 0.3rem 1rem;
  border-radius: 50px;
  background: rgba(124, 58, 237, 0.272);
  font-size: 0.85rem;
  color: var(--color-primary);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  .dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50px;
    background-color: var(--color-primary);
  }
}
